//- (c)2020 by Gerald Wodni

extends layout

block menu
    +menu

block title
    | Committee

block content
    .container
        .row
            .col-sm-12
                h1 Committee

            .col-sm-6.col-md-4.col-lg-3
                a.boxItem.user.neutral
                    .number= users.length
                    .name Total
            .col-sm-6.col-md-4.col-lg-3
                a.boxItem.user.online
                    .number= onlineCount
                    .name Online
            .col-sm-6.col-md-4.col-lg-3
                a.boxItem.user.offline
                    .number= offlineCount
                    .name Offline
        .row
            each user in users
                .col-sm-6.col-md-4.col-lg-3
                    a.boxItem.user(href="/~#{user.name}")(class=activeSessions.indexOf( user.name ) >= 0 ? "online" : "offline")
                        +gravatar( user.emailMd5, user.name, 48 ).pull-left
                        .name= user.name

        .row
            .col-sm-12
                h1 Votes
                a(href="/profile/committee/votes/add").btn.btn-default
                    +fa("plus")
                    |  Create Vote

