//- (c)2020 by Gerald Wodni

extends committee

block title
    | Committee

block committeeContent
    .container
        .row
            .col-sm-12
                h1 Committee
            +committeeOnlineCount
        .row
            each user in users
                .col-sm-6.col-md-4.col-lg-3
                    a.boxItem.user(href="/~#{user.name}")(class=activeSessions.indexOf( user.name ) >= 0 ? "online" : "offline")
                        +gravatar( user.emailMd5, user.name, 48 ).pull-left
                        .name= user.name

        .row
            .col-sm-12
                h1
                    a(href="/profile/committee/votes/add").btn.btn-default.pull-right
                        +fa("plus")
                        |  Create Vote
                    | Votes Open:#{openVoteCounts}
        .row
            .col-sm-12
                ul.fa-ul.contribution-latest
                    each vote in votes
                        li.clearfix
                            if vote.enders.name == null
                                if vote[""].userHasCastVote
                                    +fa("check-square-o").fa-li(title="open, you have voted")
                                else
                                    +fa("square-o").fa-li(title="open, you have not voted")
                            else
                                +fa("lock").fa-li(title="closed")
                            .user
                                +gravatar( vote[""].starterEmail, vote.starters.name, 48 )(title="Opened by")
                                if vote.enders.name == null
                                    span.text-gravatar(title="Not closed yet, 'Closed by' unknown ;)") ?
                                else
                                    +gravatar( vote[""].enderEmail, vote.enders.name, 48 )(title="Closed by")
                            h4
                                = vote.votes.subject
                            p
                                !=marked(vote.votes.text)

                            .date
                                span(title="Opened")
                                    +fa("square-o").fa-fw
                                    = _datetime( vote.votes.started, true )
                            if vote.enders.name != null
                                .date
                                    span(title="Closed")
                                        +fa("lock").fa-fw
                                        = _datetime( vote.votes.ended, true )

                            .pull-right
                                if vote.enders.name == null
                                    a(href="/profile/committee/votes/cast/#{vote.votes.id}").btn.btn-default
                                        +fa("check-square-o")
                                        if vote[""].userHasCastVote
                                            |  Change vote
                                        else
                                            |  Cast vote
                                    |  
                                    a(href="/profile/committee/votes/observe/#{vote.votes.id}").btn.btn-default
                                        +fa("eye")
                                        |  Observe voting
                                else
                                    h4
                                        = vote.votes.result
