//- (c)2015 by Gerald Wodni

- var lastVersion = "";
- var lastNewState = null;
mixin reply( contribution, reply )
    - var replyId = `reply-${reply.replies.id}`;
    div(class=reply.replies.newVersion?"new-version-wrapper":"reply-wrapper",id=replyId)
        h3
            +avatar( reply.replyUsers, 48 )
            if contribution.contributions.moved
                time.created(title="UTC")
                    +fa("comments-o")
                    |  
                    = reply.replies.createdFormated
            else if reply.replies.newVersion
                span.type New Version
                time.created(title="UTC")
                    a(href=_baseUrlPath + "#" + replyId, title="link to comment")
                        +fa("certificate")
                    |  
                    = reply.replies.createdFormated
            else
                time.created(title="UTC")
                    a(href=_baseUrlPath + "#" + replyId, title="link to comment")
                        +fa("comments-o")
                    |  
                    = reply.replies.createdFormated
        .markdown
            if contribution.contributions.moved
                +fa("share")
                |  This reply has been moved to the 
                a( href=contribution.contributions.url + "#reply-" + reply.replies.id )
                    | proposal section
                | .
            else if reply.replies.newVersion
                if allowDiff
                    a(href="#{_baseUrlPath}?hideDiff##{replyId}", title="Show markdown without diff").btn.btn-default.btn-xs Hide differences
                    != diffMarkdown( lastVersion, reply.replies.text )
                else
                    a(href="#{_baseUrlPath}?##{replyId}", title="Highlight differences").btn.btn-default.btn-xs Show differences
                    != marked( reply.replies.text )
                - lastVersion = reply.replies.text;
            else
                != reply.replies.markdownText
            if reply.replies.newState
                +renderState( reply.replies.newState )
                - lastNewState = reply.replies.newState
            - console.log( contribution );
            if reply.castProgrammerVotes && reply.castProgrammerVotes.answer
                +renderProgrammerVote( reply.castProgrammerVotes )
            if reply.castSystemVotes && reply.castSystemVotes.answer
                +renderSystemVote( reply.castSystemVotes )

if contributions
    .contributions-wrapper
        h2
            a(href="/profile/contribute"+urlPath).btn.btn-default
                +fa("plus")
                |  Contribute
            | Contributions
        each contribution in contributions
            .contribution-wrapper(id="contribution-#{contribution.contributions.id}")
                h2
                    +avatar( contribution.users, 48 )
                    // TODO: make h2 a .header, use badge and colors?
                    // TODO: add to user profile
                    // TODO: add replies to user profile
                    = contribution.contributions.subject
                    span.type
                        = contributionTypeName[ contribution.contributions.type ] || contribution.contributions.type
                    span.created(title="UTC")
                        = contribution.contributions.createdFormated
                .markdown
                    if contribution.contributions.moved
                        +fa("share")
                        |  This contribution has been moved to the 
                        a( href=contribution.contributions.url + "#contribution-" + contribution.contributions.id )
                            | proposal section
                        | .
                    else
                        - lastVersion = contribution.contributions.text
                        != contribution.contributions.markdownText

                .replies-wrapper
                    each reply in contribution.replies || []
                        +reply( contribution, reply )

                a(href="/profile/reply/"+contribution.contributions.id).btn.btn-default.reply
                    +fa("reply")
                    if lastNewState == "voting"
                        |  Vote / Reply
                    else
                        |  Reply
                a(href="/profile/reply-new-version/"+contribution.contributions.id, title="Only the contribution's author can create a new version").btn.btn-default.reply
                    +fa("certificate")
                    |  New Version

            if programmerVotes || systemVotes
                .votingResults#vote-standings
                    h3 Vote Standings
                    h3 Programmers
                    table.table.programmerVotes
                        thead
                            tr
                                th Vote
                                th User
                        tbody
                            - lastAnswer = ""
                            each programmerVote in programmerVotes
                                tr
                                    if lastAnswer == programmerVote.answer
                                        td.repeatedAnswer
                                            = programmerVote.answer
                                    else
                                        - lastAnswer = programmerVote.answer
                                        td
                                            = programmerVote.answer
                                    td= programmerVote.userName
                    h3 Systems
                    table.table.systemVotes
                        thead
                            tr
                                th Vote
                                th System
                                th Conformity
                                th User
                        tbody
                            - lastAnswer = ""
                            each systemVote in systemVotes
                                tr
                                    if lastAnswer == systemVote.answer
                                        td.repeatedAnswer
                                            = systemVote.answer
                                    else
                                        - lastAnswer = systemVote.answer
                                        td
                                            = systemVote.answer
                                    td= systemVote.name
                                    td= systemVote.conformity
                                    td= systemVote.userName
