//- (c)2015 by Gerald Wodni

mixin movedContribution( contribution )
    +fa("share")
    |  This contribution has been moved to the 
    a( href=contribution.contributions.url + "#contribution-" + contribution.contributions.id )
        | proposal section
    | .

mixin movedReply( contribution, reply )
    +fa("share")
    |  This reply has been moved to the 
    a( href=contribution.contributions.url + "#reply-" + reply.replies.id )
        | proposal section
    | .

if contributions
    .contributions-wrapper
        h2
            a(href="/profile/contribute"+urlPath).btn.btn-default
                +fa("plus")
                |  Contribute
            | Contributions
        each contribution in contributions
            - console.log( "CON:", contribution );
            if contribution.contributions.moved
                .contribution-wrapper(id="contribution-#{contribution.contributions.id}")
                    h2
                        +avatar( contribution.users, 48 )
                        // TODO: make h2 a .header, use badge and colors?
                        // TODO: add to user profile
                        // TODO: add replies to user profile
                        = contribution.contributions.subject
                        span.type
                            = contributionTypeName[ contribution.contributions.type ] || contribution.contributions.type
                        span.created(title="UTC")
                            = contribution.contributions.createdFormated
                    .markdown
                        +movedContribution( contribution )

                    .replies-wrapper
                        each reply in contribution.replies || []
                            if reply.replies.newVersion
                                .new-version-wrapper(id="reply-#{reply.replies.id}")
                                    h3
                                        +avatar( reply.replyUsers, 48 )
                                        span.type New Version
                                        span.created(title="UTC")
                                            +fa("certificate")
                                            |  
                                            = reply.replies.createdFormated

                                    .markdown
                                        +movedReply( contribution, reply )
                            else
                                .reply-wrapper(id="reply-#{reply.replies.id}")
                                    h3
                                        +avatar( reply.replyUsers, 48 )
                                        span.created(title="UTC")
                                            +fa("comments-o")
                                            |  
                                            = reply.replies.createdFormated

                                    .markdown
                                        +movedReply( contribution, reply )

                    a(href="/profile/reply/"+contribution.contributions.id).btn.btn-default.reply
                        +fa("reply")
                        |  Reply
            else
                .contribution-wrapper(id="contribution-#{contribution.contributions.id}")
                    h2
                        +avatar( contribution.users, 48 )
                        // TODO: make h2 a .header, use badge and colors?
                        // TODO: add to user profile
                        // TODO: add replies to user profile
                        = contribution.contributions.subject
                        span.type
                            = contributionTypeName[ contribution.contributions.type ] || contribution.contributions.type
                        span.created(title="UTC")
                            = contribution.contributions.createdFormated
                    .markdown
                        != contribution.contributions.markdownText

                    .replies-wrapper
                        each reply in contribution.replies || []
                            if reply.replies.newVersion
                                .new-version-wrapper(id="reply-#{reply.replies.id}")
                                    h3
                                        +avatar( reply.replyUsers, 48 )
                                        span.type New Version
                                        span.created(title="UTC")
                                            +fa("certificate")
                                            |  
                                            = reply.replies.createdFormated

                                    .markdown
                                        != reply.replies.markdownText
                            else
                                .reply-wrapper(id="reply-#{reply.replies.id}")
                                    h3
                                        +avatar( reply.replyUsers, 48 )
                                        span.created(title="UTC")
                                            +fa("comments-o")
                                            |  
                                            = reply.replies.createdFormated

                                    .markdown
                                        != reply.replies.markdownText
                                    if reply.replies.newState !== null
                                        +renderState( reply.replies.newState )

                    a(href="/profile/reply/"+contribution.contributions.id).btn.btn-default.reply
                        +fa("reply")
                        |  Reply
