doctype xml

mixin gravatar( emailMd5, name, size, def )
    - def = def || "retro"
    img(src="/proxy/gravatar/#{emailMd5}/#{size}/#{def}",alt="avatar of #{name}")&attributes(attributes)

feed(xml:base="https://forth-standard.org",xmlns="http://www.w3.org/2005/Atom")
    title Forth Standard
    id https://forth-standard.org/feeds/contributions
    icon /images/favicon.png
    logo /images/forth.png
    link(rel="self",href="https://forth-standard.org/feeds/contributions")
    updated= moment(contributions[0].feed.updated).toISOString()
    each entry in contributions
        entry
            if entry.feed.replyId > 0
                id= "https://forth-standard.org" + entry.contributions.url + "#reply-" + entry.feed.replyId
                link(href=entry.contributions.url + "#reply-" + entry.feed.replyId)
                content(type="text")= entry.replies.text
            else
                id= "https://forth-standard.org" + entry.contributions.url + "#contribution-" + entry.contributions.id
                link(href= entry.contributions.url + "#contribution-" + entry.contributions.id)
                content(type="text")= entry.contributions.text
            title= "[" + contributionTypeName[entry.contributions.type] + "] " + entry.contributions.subject
            //- icon= "/proxy/gravatar/" + entry.users.emailMd5 + "/40/retro"
            author
                uri= "/~" + entry.users.name
                name= entry.users.name
            updated= moment(entry.feed.updated).toISOString()
