//- (c)2014 by Gerald Wodni

doctype html
include mixins
+script('/js/jquery.min.js')

mixin menuItem( link, icon, text )
    li
        a(href="#{link}")
            +fa(icon)
            span.hidden-xs
                | 
                = text

mixin menu
    ul.navbar-nav
        +menuItem("/standard/words",            "list-ul",      "Words")
        +menuItem("http://www.forth200x.org",   "wrench",       "Committee")
        +menuItem("http://theforth.net",        "gift",         "Packages" )
        +menuItem("http://forth-ev.de",         "comments-o",   "DE-Community" )
        +menuItem("http://forth.org",           "comments",     "EN-Community" )

mixin box
    div.box&attributes(attributes)
        div.container
            block

mixin box-document
    div.box.sidenav
        div.container-fluid
            .row
                .col-md-3.col-sidenav
                    ul
                        each documentBasename in standard.sortedDocuments
                            - var document = standard.documents[ documentBasename ]
                            li
                                a(href="/standard/#{document.basename}")
                                    = document.name
                .col-md-9.col-content
                    block

mixin box-word
    div.box.sidenav
        div.container-fluid
            .row
                .col-md-3.col-sidenav
                    ul
                        each word in wordSet.words
                            li
                                a(href="/standard/#{wordSet.name}/#{word.basename}")
                                    = word.name
                .col-md-9.col-content
                    block

html
    head
        title Forth
        meta(name="viewport",content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width")
        +favicon("/images/forth-phi-favicon.png")
        +style('/css/index.css')
        +style('/css/font-awesome.min.css')
        +styles
    body
        div.wrapper
            div.navbar.navbar-fixed-top(role='navigation')
                div.container
                    div.navbar-header
                        a.navbar-brand(href="/",title="Main Link")
                            img(src="/images/forth-phi-favicon.png",alt="Forth Standard Icon: colon followed by the greek letter phi")
                            | Forth
                    block menu

            div.main-content
                block content

        footer
            div.container-fluid
                div.row
                    div.col-xs-4
                        | powered by  
                        a(href='https://github.com/GeraldWodni/kern.js') kern.js
                    div.col-xs-4.text-center
                        a(href="/todo") TODOs
                    div.col-xs-4.text-right
                        | ©copyright 2015 
                        a(href="http://wodni.at") 
                            | Gerald Wodni

        +script('/js/bootstrap.min.js')
        +scripts
