//- (c)2014 by Gerald Wodni

doctype html
include mixins
+script('/js/jquery.min.js')
+script('/js/site.js')

mixin menuItem( link, icon, text )
    li&attributes(attributes)
        a(href="#{link}",title=text.all||text,target=(link.indexOf("http://")==0?"_blank":false))
            +fa(icon)
            | 
            if( _.isObject( text ) )
                each size in ["sm", "md", "lg"]
                    span(class="inline-#{size}")
                        if _.has( text, size )
                            = text[size]
                        else
                            = text.all
            else
                span.hidden-xs= text

mixin gravatar( emailMd5, name, size, def )
    - def = def || "retro"
    //-img(src="http://www.gravatar.com/avatar/#{emailMd5}?s=#{size}&d=#{def}",alt="avatar of #{name}")&attributes(attributes)
    img(src="/proxy/gravatar/#{emailMd5}/#{size}/#{def}",alt="avatar of #{name}")&attributes(attributes)

mixin avatar( user, size )
    a.avatar(href="/~#{user.name}")
        span.name= user.name
        +gravatar( user.emailMd5, user.name, size )

mixin menu
    ul.navbar-nav
        +menuItem("/standard/words",            "list-ul",      "Standard")
        //+menuItem("http://www.forth200x.org",   "wrench",       "Committee")
        +menuItem("/proposals",   "wrench",       "Proposals")
        +menuItem("http://theforth.net",        "cube",         "Packages" )
        //+menuItem("http://forth-ev.de",         "comments-o",   {sm:"DE",all:"DE-Community"} ).hidden-314
        //+menuItem("http://forth.org",           "comments",     {sm:"EN",all:"EN-Community"} ).hidden-370
        if loggedIn
            +menuItem("/profile",    "user",         {sm:"Me",all:"Profile"}     )
            +menuItem("/logout",     "sign-out",     "Logout"    )
        else
            +menuItem("/profile",    "sign-in",      {sm:"Login",all:"Login/Sign up"}     )
        +menuItem("/search",                    "search",       {sm:"",all:"Search"}   )

mixin box
    div.box&attributes(attributes)
        div.container
            block

mixin box-document(opts)
    div.show-sidenav.toggle
        +fa("bars")

    div.box.sidenav
        div.container-fluid
            .row
                .col-md-3.col-sidenav
                    .toggle
                        +fa("chevron-left")
                    ul
                        - var currentDocument = document;
                        each documentBasename in standard.sortedDocuments
                            - var document = standard.documents[ documentBasename ];
                            li
                                a(href="/standard/#{document.basename}")
                                    = document.name
                                if currentDocument && currentDocument.basename == documentBasename && documentBasename in standard.wordSets
                                    - var wordSet = standard.wordSets[ documentBasename ];
                                    ul
                                        each word in wordSet.words
                                            li
                                                a(href="/standard/#{wordSet.name}/#{word.basename}")
                                                    = word.name
                .col-md-9.col-content.forth-200x
                    .forth-200x-wrapper
                        block
                        unless opts && opts.hideContributions
                            include contributions

mixin box-word
    div.show-sidenav.toggle
        +fa("bars")

    div.box.sidenav
        div.container-fluid
            .row
                .col-md-3.col-sidenav
                    .toggle
                        +fa("chevron-left")
                    a(href="/standard/" + wordSet.name).document
                        = standard.documents[ wordSet.name ].name
                    ul
                        each word in wordSet.words
                            li
                                a(href="/standard/#{wordSet.name}/#{word.basename}")
                                    = word.name
                .col-md-9.col-content.forth-200x
                    .forth-200x-wrapper
                        block
                        include contributions

mixin latestContribution( item, dataTable )
    - var link = item.contributions.url;
    if dataTable == "contributions"
        - link += "#contribution-" + item.contributions.id
    else
        - link += "#reply-" + item.replies.id
    a(href=link)
        div.user(title=item.users.name)
            +gravatar(item.users.emailMd5, item.users.name, 40)
        h5.document
            = item[dataTable].title
        h5.subject
            = item.contributions.subject
        h6.type
            = contributionTypeName[ item.contributions.type ]
        div.date
            = item[dataTable].createdFormated

mixin renderState( state )
    div.state&attributes(attributes)
        if state == "informal"
            +fa("file-text").fa-lg.text-red
        else if state == "formal"
            +fa("star").fa-lg.text-red
        else if state == "accepted"
            +fa("check-circle").fa-lg.text-red
        else if state == "voting"
            +fa("pencil-square-o").fa-lg.text-red
        else if state == "retracted"
            +fa("ban").fa-lg.text-red
        else if state == "retired"
            +fa("snowflake-o").fa-lg.text-red
        else if state == "open"
            +fa("square-o").fa-lg.text-red
        else if state == "closed"
            +fa("check-square-o").fa-lg.text-red
        else
            b Statechange: 
        |  
        = contributionStateText[ state ]

mixin selectState(name)
    if contribution.type=="proposal"
        if isOriginalAuthor || isCommitteeMember
            .form-group
                label Change Status
                select(name=name, class="form-control")&attributes(attributes)
                    option(value="", selected=!newState)
                        = `<unchanged (${contributionStateText[contributionState]})>`
                    option(value="informal",    selected=newState=="informal",  disabled=contributionState=="informal")
                        =contributionStateText["informal"]
                    option(value="formal",      selected=newState=="formal",    disabled=contributionState=="formal"  || !isCommitteeMember)
                        =contributionStateText["formal"]
                    option(value="accepted",    selected=newState=="accepted",  disabled=contributionState=="accepted"|| !isCommitteeMember)
                        =contributionStateText["accepted"]
                    option(value="voting",      selected=newState=="voting",    disabled=contributionState=="voting"  || !(isCommitteeMember || contributionState=="formal"))
                        =contributionStateText["voting"]
                    option(value="retracted",   selected=newState=="retracted", disabled=contributionState=="retracted")
                        =contributionStateText["retracted"]
                    option(value="retired",     selected=newState=="retired",   disabled=contributionState=="retired")
                        =contributionStateText["retired"]
    else
        .form-group
            label Change Status
            select(name=name, class="form-control")&attributes(attributes)
                option(value="", selected=!newState)
                    = `<unchanged (${contributionStateText[contributionState]})>`
                option(value="open",        selected=newState=="open",      disabled=contributionState=="open")
                    =contributionStateText["open"]
                option(value="closed",      selected=newState=="closed",    disabled=contributionState=="closed"  || !isCommitteeMember && !isOriginalAuthor)
                    =contributionStateText["closed"]

html
    head
        title
            block title
                = title || "Forth"
        meta(name="viewport",content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width")
        link(rel="alternate" type="application/atom+xml" title="Contributions" href="/feeds/contributions")
        +favicon("/images/favicon.ico")
        +style('/css/index.css')
        +style('/css/font-awesome.min.css')
        +styles
    body
        div.wrapper
            div.navbar.navbar-fixed-top(role='navigation')
                div.container
                    div.navbar-header
                        a.navbar-brand(href="/",title="Main Link")
                            img(src="/images/favicon.png",alt="Forth Standard Icon: colon followed by semicolon")
                            span.hidden-xs
                                | Forth
                    block menu

            div.main-content
                block content

        footer
            div.container-fluid
                div.row
                    div.col-xs-4
                        | powered by  
                        a(href='https://github.com/GeraldWodni/kern.js',target="_blank") kern.js
                    //-div.col-xs-4.text-center
                    //-a(href="/todo") TODOs
                    div.col-xs-8.text-right
                        //a(href="http://wodni.at") 
                        span.debug-size
                            | ©
                        | copyright 2015-2020 Forth-Standard-Committee
            div#bootstrapSize
                div.visible-xs
                div.visible-sm
                div.visible-md
                div.visible-lg
        +script('/js/bootstrap.min.js')
        +scripts
