//- (c)2015 by Gerald Wodni

extends layout

block menu
    +menu

block title
    | Proposals

block content

    +box
        h1 Proposals
        .row
            .col-md-6
                p
                    | See list of proposals discussed on forth-standard.org below.
                p
                    | Old proposals (pre 2018) and accepted new proposals are available on 
                    +elink("http://www.forth200x.org", "http://www.forth200x.org")
                    | .
            .col-md-6
                h4
                    | How to write your own proposal 
                    b
                        +fa("exclamation-triangle").
                        |  New Procedure
                ol
                    li
                        | Start by reading 
                        a(href="/proposals/revised-proposal-process", target="_blank")
                            | How to write Forth extension proposals.
                    li
                        | Click this button and follow the instructions: 
                        br
                        a(href="/profile/proposals/add").btn.btn-default
                            +fa("plus")
                            |  Add Proposal
        .row
            .col-md-12
                img(src="/images/proposal-process.png", alt="proposal process").img-responsive


        h3 Proposals (most recent first)
        p Filter by type:
        ul.contributions-filter
            li(class=useState?null:"active")
                a(href="/proposals")
                    span.count
                        = totalProposalCount
                    | All
            each proposalCount in proposalCounts
                li(class=state==proposalCount[''].state?"active":null)
                    a(href="/proposals?state=#{proposalCount[''].state}")
                        span.count
                            = proposalCount[""].count
                        +renderState( proposalCount[''].state )
            
        ul.fa-ul.contribution-latest
            each contribution in contributions
                li
                    +fa("li fa fa-comment-o")
                    - var link = contribution.contributions.url;
                    //- find latest contribution link
                    - var contributionLink = link+"#contribution-" + contribution.contributions.id;
                    if contribution[""].newVersionsId && contribution[""].newVersionsId.length
                        - newVersions = contribution[""].newVersionsId.split(",")
                        - contributionLink = link + "#reply-" + newVersions[ newVersions.length - 1 ]

                    a(href=contributionLink)
                        div.user(title=contribution.users.name)
                            +gravatar(contribution.users.emailMd5, contribution.users.name, 40)
                        h5.document
                            | [
                            = contribution.contributions.id
                            | ] 
                            = contribution.contributions.subject
                        h5.subject
                            | in 
                            = contribution.contributions.title
                        +renderState( contribution[""].contributionState )
                        h5 Versions:
                        div.date
                            | V0: 
                            = contribution.contributions.createdFormated
                        if contribution[""].newVersionsId && contribution[""].newVersionsId.length
                            - newCreateds = contribution[""].newVersionsCreated.split(",")
                            each index in _.range( newVersions.length )
                                div.date
                                    a(href=link+"#reply-" + newVersions[index])
                                        | V
                                        = index+1
                                        | : 
                                        = newCreateds[index]
                        h5 State history:
                        div.date
                            | new: 
                            = contribution.contributions.createdFormated
                        if contribution[""].newStatesId && contribution[""].newStatesId.length
                            - newStates = contribution[""].newStates.split(",")
                            - newStatesId      = contribution[""].newStatesId.split(",")
                            - newStatesCreated = contribution[""].newStatesCreated.split(",")
                            each index in _.range( newStates.length )
                                div.date
                                    a(href=link+"#reply-" + newStatesId[index])
                                        = newStates[index]
                                        | : 
                                        = newStatesCreated[index]

        h3 Markdown lists
        ul.contributions-open
            each proposalCount in proposalCounts
                li
                    a(href="/contributions/markdown/proposal/#{proposalCount[''].state}", target="_blank")
                        span.count
                            = proposalCount[""].count
                        //= proposalCount[''].state
                        +renderState( proposalCount[''].state )
                        //= contributionTypeName[ openContribution.contributions.type ]

