//- (c)2015 by Gerald Wodni

extends layout

block menu
    +menu

block title
    = word.name
    |  - 
    = word.list

block content
    +box-word
        h1
            span.number= word.number
            |  
            span.name= word.name
            if word.english != " "
                |  
                span.english= word.english
            | 
            span.list= word.list
        each section in word.sections
            if section.name !== " "
                h2= section.name

            div!= section.html
